.sidebar{
  height: 100vh;
  display:flex;
  max-width: 15vw;
  justify-content: flex-start;
  background-color: #29292E;
  .logo-btn{
    background-color: #202024;
    border: none;
    padding: 4px;
    display: flex;
    justify-content: center;
    img{
      width: 50px;
    }  
  }

  ul{
    margin-top: 16px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    li{
      list-style: none;
      >button{
        background-color: transparent;
        border: none;
        &:hover{
          svg{
            fill: rgb(255, 174, 0);
          }
        }
      }
    }
    }
  }
  @media  screen and (min-width: 768px) {
    .sidebar{
      width: 6vw;
      align-items: center;
      .logo-btn{
        width: 6vw;
        img{
          width: 70px;
        }
      }
    }
    
  }
  
  